.presentation-content {
    width: 50vw;
    padding: 0 0 2% 5%;

    border-left: 2px solid #c5c5c5;
    border-bottom: 2px solid #c5c5c5;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 40vw;
}

.name-f {
    font-size: 1.5rem;
    font-weight: 600;
    color: palevioletred;
}
.name-m {
    font-size: 1.5rem;
    font-weight: 600;
    color: deepskyblue;
}

.bullet {
        list-style-type: "✔";
}
span {
    padding-left: 2%;
    font-weight: 400;
}
.bold {
    font-weight: 600;
}